PizzaStore/.mono/registry/CurrentUser/software/microsoft/csdevkit/telemetry/persistentpropertybag/microsoft.visualstudio.code.servicehost/values.xml
PizzaStore/.mono/registry/CurrentUser/software/microsoft/csdevkit/telemetry/persistentpropertybag/values.xml
PizzaStore/.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/9819_133580142775150214/values.xml
PizzaStore/.mono/registry/CurrentUser/software/microsoft/sqmclient/values.xml
PizzaStore/bin/Debug/net8.0/PizzaStore
PizzaStore/bin/Debug/net8.0/PizzaStore.dll
PizzaStore/bin/Debug/net8.0/PizzaStore.pdb
PizzaStore/obj/PizzaStore.csproj.nuget.dgspec.json
PizzaStore/obj/PizzaStore.csproj.nuget.g.props
PizzaStore/obj/project.assets.json
PizzaStore/obj/project.nuget.cache
PizzaStore/obj/Debug/net8.0/apphost
PizzaStore/obj/Debug/net8.0/PizzaStore.AssemblyInfo.cs
PizzaStore/obj/Debug/net8.0/PizzaStore.AssemblyInfoInputs.cache
PizzaStore/obj/Debug/net8.0/PizzaStore.csproj.CoreCompileInputs.cache
PizzaStore/obj/Debug/net8.0/PizzaStore.dll
PizzaStore/obj/Debug/net8.0/PizzaStore.pdb
PizzaStore/obj/Debug/net8.0/ref/PizzaStore.dll
PizzaStore/obj/Debug/net8.0/refint/PizzaStore.dll
